################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp2/obj/ConsoleApp2.csproj.nuget.dgspec.json
